.banner {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height: 111px;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: 480px) {
        height: 223px;
    }

    img {
        display: flex;
        object-fit: cover;
        width: 100%;
    }
}