.card {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    display: flex;
}

.card img {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.card h3 {
    position: absolute;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}