.collapse {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.titleInfo {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.titleInfo h3 {
    font-weight: 700;
    font-size: 24px;
}

.descriptionInfo {
    padding: 15px 20px 20px 20px;
    position: absolute;
    display: flex;
    top: -200px;
    transition: top 0.5s;
    z-index: -5;
    height: 0;
}

.open {
    display: flex;
    top: 0px;
    transition: top 0.5s;
    position:relative;
    height:auto;
}

.descriptionInfo p {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.close-collapse {
    transform: rotate(-180deg);
    transition: all 0.5s;
}

.collapse-toggle-button {
    transition: all 0.5s;
    background-color: transparent;
    height: 32px;
}