.collapse {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.titleInfo {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    align-items: center;
}

.titleInfo h3 {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
}

.descriptionInfo {
    padding: 15px 20px 20px 20px;
    position: absolute;
    display: flex;
    top: -200px;
    transition: top 0.5s;
    z-index: -5;
    height: 0;
}

.open {
    display: flex;
    top: 0px;
    transition: top 0.5s;
    position: relative;
    height: auto;
}

.descriptionInfo p {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
}

.open-collapse {
    transform: rotate(-180deg);
    transition: all 0.5s;
}

.collapse-toggle-button {
    transition: all 0.5s;
    background-color: transparent;
    height: 32px;
}

@media screen and (min-width: 480px) {
    .titleInfo {
        padding: 10px 15px;
        height: 54px;
    }

    .titleInfo h3 {
        font-size: 24px;
    }

    .descriptionInfo p {
        font-size: 18px;
    }
}