.cards_container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    row-gap: 60px;
    justify-items: center;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding-top: 56px;
    padding-bottom: 43px;
    justify-content: space-evenly;
    flex-direction: row;
}