.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 113px;
    padding-top: 113px;
    padding-bottom: 113px;

    @media screen and (min-width: 480px) {
        row-gap: 139px;
        padding-top: 89px;
        padding-bottom: 89px;
    }

    p {
        color: var(--primary-color);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        max-width: 260px;

        @media screen and (min-width: 480px) {
            font-size: 36px;
            max-width: max-content;
        }
    }

    a {
        color: var(--secondary-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-decoration-line: underline;

        @media screen and (min-width: 480px) {
            font-size: 18px;
        }
    }
}

.error-404 {
    color: var(--primary-color);
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;

    @media screen and (min-width: 480px) {
        font-size: 288px;
    }
}