.header {
    display: flex;
    max-width: 1280px;
    min-width: 335px;
    width: 100%;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

    @media screen and (min-width: 480px) {
        font-size: 24px;
    }

    img {
        height: 47px;

        @media screen and (min-width: 480px) {
            height: 100%;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        max-width: 190px;
        column-gap: 26px;
        margin-left: 10px;
        white-space: nowrap;

        @media screen and (min-width: 480px) {
            max-width: 255px;
            width: 100%;
        }

        a {
            color: black;
        }
    }
}

.active-class {
    text-decoration: underline;
    text-underline-offset: 3px;
}