* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

a, li {
    text-decoration: none;
}

#root {
    display:flex;
    flex-direction: column;
    margin: 20px auto 0;
    max-width: 1440px;
    min-width: 375px;
    row-gap: 24px;
    align-items: center;
}

html {
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    #root {
        margin-top: 45px;
        row-gap: 50px;
    }
}


